<div class="modal-container">
	<form name="form" ng-submit="create_clan()">
		<div class="form-group">
			<label for="clan-name">Clan name:</label>
			<input id="clan-name" type="text" ng-model="data.name"  class="form-control" myMaxlength="15" required/>
		</div>
		<div class="form-group">
			<label for="clan-description">description:</label>
			<textarea ng-model="data.description"  class="form-control" rows="5"></textarea>
		</div>
		<input type="submit" ng-disabled="form.$invalid" value="{{ edit ? 'Save' : 'Create' }}">
	</form>
</div>
