<nav class="navbar navbar-inverse navbar-static-top" ng-controller="menuController as menuCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
          <!-- Mobile menu -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-navbar-box">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Game</a>
        </div>

        <!-- Deskotop menu -->
        <div class="collapse navbar-collapse" id="menu-navbar-box">
            <ul ng-show="menuCtrl.isUserLoggedIn()" class="nav navbar-nav">
                <li ng-class="{ active:menuCtrl.isActive('/') || menuCtrl.isActive('/village') }"><a href="/village">Village</a></li>
                <li ng-class="{ active:menuCtrl.isActive('/map') }"><a href="/map">Map</a></li>
                <li ng-class="{ active:menuCtrl.isActive('/reports') || menuCtrl.isActive('/report/') }">
                    <a href="/reports"><span ng-show="$root.globals.currentUser.badges.reports > 0" class="badge">{{ $root.globals.currentUser.badges.reports > 100 ? '100+' : $root.globals.currentUser.badges.reports }}</span>Reports</a>
                </li>
                <li ng-class="{ active:menuCtrl.isActive('/messages') || menuCtrl.isActive('/message/') }">
                    <a href="/messages"><span ng-show="$root.globals.currentUser.badges.messages > 0" class="badge">{{ $root.globals.currentUser.badges.messages > 100 ? '100+' : $root.globals.currentUser.badges.messages }}</span>Messages</a>
                </li>
                <li ng-show="$root.globals.currentUser.clan" ng-class="{ active:(menuCtrl.isActive('/forum') || menuCtrl.isActive('/topic')) }">
                    <a href="/forum"><span ng-show="$root.globals.currentUser.badges.forum > 0" class="badge">{{ $root.globals.currentUser.badges.forum > 100 ? '100+' : $root.globals.currentUser.badges.forum }}</span>Forum</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{ active:menuCtrl.isActive('/user') }" ng-show="menuCtrl.isUserLoggedIn()"><a href="/user">{{ $root.globals.currentUser.username }}</a></li>
                <li ng-class="{ active:menuCtrl.isActive('/login') }" ng-show="!menuCtrl.isUserLoggedIn()"><a href="/login">Login</a></li>
                <li ng-class="{ active:menuCtrl.isActive('/register') }" ng-show="!menuCtrl.isUserLoggedIn()"><a href="/register">Register</a></li>
                <li ng-class="{ active:menuCtrl.isActive('/logout') }" ng-show="menuCtrl.isUserLoggedIn()"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>