<div id="resources-block" class="col-xs-12 col-md-12 resources">
	<div class="stats container">
		<ul class="clearfix">
			<li><span class="icon stone-pile"></span>{{ $root.globals.currentVillage.resources.stone }}/{{ $root.globals.currentVillage.resources.storage_space }}</li>
			<li><span class="icon wood-pile"></span>{{ $root.globals.currentVillage.resources.wood }}/{{ $root.globals.currentVillage.resources.storage_space }}</li>
			<li><span class="icon spiral-bloom"></span>{{ $root.globals.currentVillage.resources.clay }}/{{ $root.globals.currentVillage.resources.storage_space }}</li>
			<li><span class="icon population"></span>{{ $root.globals.currentVillage.resources.population }}/{{ $root.globals.currentVillage.resources.max_population }}</li>
		</ul>
	</div>
</div>