<div class="modal-container">
	<form name="form" ng-submit="send_message()">
		<div class="form-group">
			<label for="message-player">Receiver: {{ player.username }}</label>
		</div>
		<div class="form-group">
			<label for="message-subject">Subject:</label>
			<input id="message-subject" type="text" ng-model="data.subject"  class="form-control" myMaxlength="255" required/>
		</div>
		<div class="form-group">
			<label for="message-content">Content:</label>
			<textarea ng-model="data.content"  class="form-control" rows="5" required></textarea>
		</div>
		<input type="submit" ng-disabled="form.$invalid" value="Send">
	</form>
</div>
