<div id="timers">
	<div class="building-countdown">
		<tabset>
	    <tab heading="Buildings upgrades" ng-if="$root.globals.currentVillage.timers.buildings_upgrades && $root.globals.currentVillage.timers.buildings_upgrades.length > 0">
			<table class="table buidlings">
				<tr>
					<th>Building</th>
					<th>Upgrading to stage</th>
					<th>Time left</th>
				</tr>
				<tr class="ng-hide" ng-repeat="upgrade in $root.globals.currentVillage.timers.buildings_upgrades" ng-hide="!upgrade.countdown || upgrade.countdown < 0">
					<td><span class="icon {{ global_get_icon(upgrade.building.building_type) }}" ></span>{{upgrade.building.building_type}}</td>
					<td>{{ upgrade.building.stage}}</td>
					<td>{{ upgrade.countdown | duration }}</td>
				</tr>
			</table>
	    </tab>
	    <tab heading="Army movements" ng-if="$root.globals.currentVillage.timers.army_movement && $root.globals.currentVillage.timers.army_movement.length > 0">
			<table class="table army">
				<tr>
					<th>Expedition info</th>
					<th>Time left</th>
				</tr>
				<tr ng-repeat="army in $root.globals.currentVillage.timers.army_movement | orderBy: 'countdown'">
					<td>
						<span class="icon"><div class="ng-icon" ng-include="global_get_icon_path('attack')" ng-class="{'red': army.type == 'A' && army.target_village.id == $root.globals.currentVillage.id, 'green': army.type == 'B' && army.target_village.id == $root.globals.currentVillage.id || army.type == 'A' && army.village.id == $root.globals.currentVillage.id }"></div></span>
						<span ng-if="army.type == 'A'"><span ng-if="army.village.id == $root.globals.currentVillage.id">Attacking</span><span ng-if="army.target_village.id == $root.globals.currentVillage.id	">Attacked by</span> </span>
						<span ng-if="army.type == 'B'">Returning from </span>
						<span ng-if="army.village.id == $root.globals.currentVillage.id">{{ army.target_village.owner.username}}({{ army.target_village.name }})</span>
						<span ng-if="army.target_village.id == $root.globals.currentVillage.id">{{ army.village.owner.username}}({{ army.village.name }})</span>
					</td>
					<td>{{ army.countdown | duration }}</td>
				</tr>
			</table>
	    </tab>
	    <tab heading="Market movements" ng-if="$root.globals.currentVillage.timers.market_movement && $root.globals.currentVillage.timers.market_movement.length > 0">
	    	<table class="table market">
				<tr>
					<th>Trade</th>
					<th>Time left</th>
				</tr>
				<tr ng-repeat="mo in $root.globals.currentVillage.timers.market_movement | orderBy: 'countdown'">
					<td>
						<span class="icon cash-icon"></span>
						<span ng-if="mo.owner_village.id == $root.globals.currentVillage.id">
							<span ng-if="mo.status == 'D'">Delivering to</span><span ng-if="mo.status == 'R'">Returning from</span> {{ mo.end_village.owner.name}}({{mo.end_village.name}})</span>
						</span>
						<span ng-if="mo.owner_village.id != $root.globals.currentVillage.id">
							Delivering from {{ mo.owner_village.owner.name}}({{mo.owner_village.name}})</span>
						</span>
					</td>
					<td>{{ mo.countdown | duration }}</td>
				</tr>
			</table>
	    </tab>
	  </tabset>
	</div>
</div>
