<div class="modal-container">
	<form name="form" ng-submit="add_topic()">
		<div class="form-group">
			<label for="clan-name">Topic title:</label>
			<input id="clan-name" type="text" ng-model="data.title" class="form-control" myMaxlength="100" required/>
		</div>
		<input type="submit" ng-disabled="form.$invalid" value="Create">
	</form>
</div>
