.center {
  text-align: center; }

.main-container > section:nth-of-type(1) {
  padding-top: 30px; }

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  /* buildings */
  /* units */
  /* actions */ }
  .icon .ng-icon {
    width: inherit;
    height: inherit;
    display: inline-block; }
  .icon.small {
    width: 20px;
    height: 20px; }
  .icon.big {
    width: 50px;
    height: 50px; }
  .icon.exstra-big {
    width: 200px;
    height: 200px; }
  .icon.contain {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-size: contain; }
  .icon.c-pointer {
    cursor: pointer; }
  .icon.red {
    background-color: #a94442; }
  .icon.yellow {
    background-color: #8a6d3b; }
  .icon.green {
    background-color: #3c763d; }
  .icon.blue {
    background-color: #31708f; }
  .icon.stone-pile {
    background-image: url("../images/stone-pile.svg"); }
  .icon.wood-pile {
    background-image: url("../images/wood-pile.svg"); }
  .icon.population {
    background-image: url("../images/backup.svg"); }
  .icon.spiral-bloom {
    background-image: url("../images/spiral-bloom.svg"); }
  .icon.stopwatch {
    background-image: url("../images/stopwatch.svg"); }
  .icon.upgrade-icon {
    background-image: url("../images/orb-direction.svg"); }
  .icon.cash-icon {
    background-image: url("../images/cash.svg"); }
  .icon.message-icon {
    background-image: url("../images/tied-scroll.svg"); }
  .icon.clay-pit-icon {
    background-image: url("../images/dig-dug.svg"); }
  .icon.castle-icon {
    background-image: url("../images/castle.svg"); }
  .icon.lumber-camp-icon {
    background-image: url("../images/axe-in-stump.svg"); }
  .icon.stone-mine-icon {
    background-image: url("../images/mine-wagon.svg"); }
  .icon.farm-icon {
    background-image: url("../images/wheat.svg"); }
  .icon.storage-icon {
    background-image: url("../images/windmill.svg"); }
  .icon.barracks-icon {
    background-image: url("../images/sword-in-stone.svg"); }
  .icon.wall-icon {
    background-image: url("../images/stone-tower.svg"); }
  .icon.market-icon {
    background-image: url("../images/scales.svg"); }
  .icon.embassy-icon {
    background-image: url("../images/greek-temple.svg"); }
  .icon.swordsman-icon {
    background-image: url("../images/broadsword.svg"); }
  .icon.pikemen-icon {
    background-image: url("../images/pikeman.svg"); }
  .icon.axeman-icon {
    background-image: url("../images/battle-axe.svg"); }
  .icon.scout-icon {
    background-image: url("../images/angry-eyes.svg"); }
  .icon.light_cavalry-icon {
    background-image: url("../images/light-horse-head.svg"); }
  .icon.heavy_cavalry-icon {
    background-image: url("../images/heavy-horse-head.svg"); }
  .icon.attack {
    background-image: url("../images/wave-strike.svg"); }
  .icon.axe-icon {
    background-image: url("../images/wood-axe.svg"); }
  .icon.shield-icon {
    background-image: url("../images/cracked-shield.svg"); }

.ng-icon.red {
  fill: #a94442; }
.ng-icon.yellow {
  fill: #8a6d3b; }
.ng-icon.green {
  fill: #3c763d; }
.ng-icon.blue {
  fill: #31708f; }

#msg-block {
  z-index: 100;
  position: relative; }
  #msg-block #mc-messages-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px; }
    #msg-block #mc-messages-wrapper .alert {
      padding: 5px;
      margin-bottom: 2px; }
    #msg-block #mc-messages-wrapper ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%; }
      #msg-block #mc-messages-wrapper ul li {
        display: block;
        text-align: center;
        width: 100%;
        position: relative; }
  #msg-block .msg-content-box ul li.alert {
    padding: 5px;
    margin-bottom: 2px; }
  #msg-block .msg-content-box ul li .remove-button {
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer; }

.create-village .radio-box {
  display: none; }
.create-village .map-box {
  width: 500px;
  height: 500px;
  background: url("../images/map-img.png");
  background-size: cover; }
  .create-village .map-box > div {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
    cursor: pointer; }
    .create-village .map-box > div div {
      display: none; }
    .create-village .map-box > div:hover div {
      display: block; }
  .create-village .map-box .bg {
    background: #909090;
    opacity: 0.5;
    width: 100%;
    height: 100%; }
  .create-village .map-box .info {
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    text-align: center;
    color: #000;
    font-size: 30px; }
  .create-village .map-box .active {
    border: 2px solid #cc0000; }
    .create-village .map-box .active div {
      display: block; }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-nav .badge {
    margin-right: 5px; }

#village .village .town {
  margin: 0;
  padding: 0;
  list-style: none; }
#village .buildings-container {
  padding-left: 0; }
#village .army-container {
  padding-right: 0; }

#timers {
  width: 100%;
  clear: both; }
  #timers .building-countdown ul {
    margin: 0;
    padding: 0; }
  #timers table th {
    border-top: 0; }

#resources-block.resources {
  background: #ddd;
  float: none; }
  #resources-block.resources .stats ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #resources-block.resources .stats ul li {
      padding-left: 35px;
      float: left;
      line-height: 30px;
      width: 25%;
      position: relative; }
      #resources-block.resources .stats ul li span {
        position: absolute;
        top: 0;
        left: 0; }

#map .map {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left; }
  #map .map .coordinate {
    width: 30px;
    height: 30px;
    float: left;
    position: relative; }
    #map .map .coordinate.newline {
      clear: both; }
    #map .map .coordinate.G {
      background: green; }
    #map .map .coordinate.M {
      background: gray; }
    #map .map .coordinate.S {
      background: blue; }
    #map .map .coordinate.F {
      background: brown; }
    #map .map .coordinate.village {
      background: green; }
    #map .map .coordinate .light {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 5px;
      height: 5px; }
      #map .map .coordinate .light.enemy {
        background: red; }
      #map .map .coordinate .light.owner {
        background: lightgreen; }
      #map .map .coordinate .light.clan_member {
        background: lightblue; }
    #map .map .coordinate:hover .coordinate-info {
      display: block; }
    #map .map .coordinate .coordinate-info {
      display: none;
      position: absolute;
      top: 15px;
      left: 15px;
      padding: 10px;
      z-index: 10;
      background: #fff;
      min-width: 150px; }
#map .nav {
  float: left;
  width: 130px;
  height: 130px;
  position: relative;
  font-size: 50px;
  line-height: 50px; }
  #map .nav > div {
    position: absolute;
    width: 51px;
    height: 51px;
    margin: auto; }
  #map .nav .top {
    top: 0;
    left: 0;
    right: 0; }
  #map .nav .left {
    top: 0;
    left: 0;
    bottom: 0; }
  #map .nav .right {
    top: 0;
    right: 0;
    bottom: 0; }
  #map .nav .bottom {
    left: 0;
    right: 0;
    bottom: 0; }

#coordinate-info .coordinate-img {
  float: left; }
#coordinate-info .village-info {
  float: left; }
#coordinate-info .units {
  clear: both; }

.market-inner .trade-box {
  width: 270px;
  float: left; }
  .market-inner .trade-box select {
    width: 100px;
    float: left; }
  .market-inner .trade-box input {
    width: 100px;
    float: left; }
  .market-inner .trade-box a {
    padding-left: 5px;
    line-height: 37px; }

#report .res {
  width: 75px;
  display: inline-block; }

.messages-inner .messages .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.message-inner h4.subject-title {
  display: inline-block; }

.castle-inner .buildings {
  list-style: none; }

#topic .last-seen {
  background-color: #d9edf7; }

.modal-container {
  padding: 10px; }

@media (max-width: 991px) {
  #village .buildings-container {
    padding-right: 0; }
  #village .army-container {
    padding-left: 0; } }
@media (max-width: 540px) {
  #resources-block.resources .stats ul li {
    width: 50%; }

  #resources-block.resources .stats ul li:nth-of-type(3) {
    clear: both; } }
@media (max-width: 500px) {
  #map .map .coordinate {
    width: 19px;
    height: 19px; }

  #map .map .coordinate .icon {
    width: 19px;
    height: 19px; } }

/*# sourceMappingURL=styles.css.map */
