@mixin mask-image($url) {
    background-image: url($url);
}

.center { text-align: center; }
.main-container > section:nth-of-type(1) { padding-top: 30px;}

.icon {
    width: 30px; height: 30px; display: inline-block;  background-size: cover;
    .ng-icon { width: inherit; height: inherit; display: inline-block; }
    &.small { width: 20px; height: 20px;}
    &.big { width: 50px; height: 50px;}
    &.exstra-big { width: 200px; height: 200px;}
    &.contain { position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; background-size: contain; }
    &.c-pointer { cursor: pointer;}

    &.red { background-color: #a94442; }
    &.yellow { background-color: #8a6d3b; }
    &.green { background-color: #3c763d; }
    &.blue { background-color: #31708f; }

    &.stone-pile { @include mask-image("../images/stone-pile.svg");}
    &.wood-pile { @include mask-image("../images/wood-pile.svg");}
    &.population { @include mask-image("../images/backup.svg");}
    &.spiral-bloom { @include mask-image("../images/spiral-bloom.svg");}
    &.stopwatch { @include mask-image("../images/stopwatch.svg");}
    &.upgrade-icon { @include mask-image("../images/orb-direction.svg");}
    &.cash-icon { @include mask-image("../images/cash.svg") }
    &.message-icon { @include mask-image("../images/tied-scroll.svg") }

    /* buildings */
    &.clay-pit-icon { @include mask-image("../images/dig-dug.svg");}
    &.castle-icon { @include mask-image("../images/castle.svg");}
    &.lumber-camp-icon { @include mask-image("../images/axe-in-stump.svg");}
    &.stone-mine-icon { @include mask-image("../images/mine-wagon.svg");}
    &.farm-icon { @include mask-image("../images/wheat.svg");}
    &.storage-icon { @include mask-image("../images/windmill.svg");}
    &.barracks-icon { @include mask-image("../images/sword-in-stone.svg");}
    &.wall-icon { @include mask-image("../images/stone-tower.svg");}
    &.market-icon { @include mask-image("../images/scales.svg");}
    &.embassy-icon { @include mask-image("../images/greek-temple.svg");}

    /* units */
    &.swordsman-icon { @include mask-image("../images/broadsword.svg");}
    &.pikemen-icon { @include mask-image("../images/pikeman.svg");}
    &.axeman-icon { @include mask-image("../images/battle-axe.svg"); }
    &.scout-icon { @include mask-image("../images/angry-eyes.svg");}
    &.light_cavalry-icon { @include mask-image("../images/light-horse-head.svg");}
    &.heavy_cavalry-icon { @include mask-image("../images/heavy-horse-head.svg");}

    /* actions */
    &.attack { @include mask-image("../images/wave-strike.svg"); }
    &.axe-icon { @include mask-image("../images/wood-axe.svg"); }
    &.shield-icon { @include mask-image("../images/cracked-shield.svg"); }
}

.ng-icon {
    &.red { fill: #a94442; }
    &.yellow { fill: #8a6d3b; }
    &.green { fill: #3c763d; }
    &.blue { fill: #31708f; }
}

#msg-block {
    z-index: 100; position: relative;
    #mc-messages-wrapper {position: absolute; left: 0; right: 0; top: 10px;
        .alert { padding: 5px; margin-bottom: 2px;}
        ul { margin: 0; padding: 0; list-style: none; width: 100%;
            li { display: block; text-align: center; width: 100%; position: relative;}
        }
    }
    .msg-content-box ul {
        li.alert { padding: 5px; margin-bottom: 2px;}
        li .remove-button { position: absolute; right: 5px; top: 8px; cursor: pointer;}
    }
}

.create-village {
    .radio-box {display: none;}
    .map-box { 
        width: 500px; height: 500px; background: url('../images/map-img.png'); background-size: cover;
        > div {
            width: 50%; height: 50%; float: left; position: relative; cursor: pointer;
            div { display: none;}
            &:hover div { display: block;}
        }
        .bg { background: #909090; opacity: 0.5; width: 100%; height: 100%;}
        .info { position: absolute; left: 0; top: 100px; right: 0; text-align: center; color: #000; font-size: 30px;}
        .active {
            border: 2px solid #cc0000;
            div { display: block;}
        }
    }
}

.navbar { 
    margin-bottom: 0;
    .navbar-nav {
        .badge { margin-right: 5px; }
    }
}

#village{
    .village {
        .town {
            margin: 0; padding: 0; list-style: none;
        }
    }
    .buildings-container { padding-left: 0; }
    .army-container { padding-right: 0; }
}

#timers {
    width: 100%; clear: both;
    .building-countdown {
        ul { margin: 0; padding: 0; }
    }
    table th { border-top: 0}
}

#resources-block {
    &.resources {
        background: #ddd; float: none;
        .stats ul{
            margin: 0; padding: 0; list-style: none;
            li{
                padding-left: 35px; float: left; line-height: 30px; width: 25%; position: relative;
                span { position: absolute; top: 0; left: 0;}
            }
        }
    }
}

#map {
    .map {
        margin: 0; padding: 0; list-style: none; float: left;
        .coordinate {
            width: 30px; height: 30px; float: left; position: relative;
            &.newline { clear: both; }
            &.G { background: green; }
            &.M { background: gray; }
            &.S { background: blue; }
            &.F { background: brown; }
            &.village { background: green; }

            .light { 
                position: absolute; bottom: 0; left: 0; width: 5px; height: 5px;
                &.enemy { background: red; }
                &.owner { background: lightgreen; }
                &.clan_member { background: lightblue; }
            }

            &:hover .coordinate-info { display: block; }
            .coordinate-info {
                display: none; position: absolute; top: 15px; left: 15px; padding: 10px; z-index: 10; background: #fff; min-width: 150px;
            }
        }
    }
    .nav {
        float: left; width: 130px; height: 130px; position: relative; font-size: 50px; line-height: 50px;
        > div { position: absolute; width: 51px; height: 51px; margin: auto;}
        .top { top: 0; left: 0; right: 0; }
        .left { top: 0; left: 0; bottom: 0; }
        .right { top: 0; right: 0; bottom: 0; }
        .bottom { left: 0; right: 0; bottom: 0; }
    }
}

#coordinate-info {
    .coordinate-img { float: left; }
    .village-info { float: left; }
    .units { clear: both; }
}

.market-inner {
    .trade-box {
        width: 270px; float: left;
        select { width: 100px; float: left; }
        input { width: 100px; float: left;}
        a { padding-left: 5px;  line-height: 37px;}
    }
}

#report {
    .res { width: 75px; display: inline-block}
}

.messages-inner {
    .messages {
        .list-group-item:first-child { border-top: 0; border-top-left-radius: 0; border-top-right-radius: 0;}
    }
}

.message-inner { 
    h4.subject-title { display: inline-block; }
}

.castle-inner {
    .buildings { list-style: none; }
}

#topic { 
    .last-seen { background-color: #d9edf7; }
}

.modal-container { padding: 10px; }

@media (max-width: 991px) {
    #village{
        .buildings-container { padding-right: 0; }
        .army-container { padding-left: 0; }
    }
}

@media (max-width: 540px) {
    #resources-block.resources .stats ul li { width: 50%; }
    #resources-block.resources .stats ul li:nth-of-type(3) { clear: both; }
}

@media (max-width: 500px) {
    #map .map .coordinate { width: 19px; height: 19px; }
    #map .map .coordinate .icon { width: 19px; height: 19px; }
}
