<div class="barracks-inner">
	<div class="info">
		Training speed increase: <code>{{ building.training_speed }}%</code>
	</div>
	<div ng-if="building.myBuilding.stage > 0" class="units-maker-container">
		<form name="unitsTrainingForm" ng-submit="startTraining()">
			<table class="table units-maker">
				<tr>
					<th>Unit name</th>
					<th colspan="5">Resources</th>
					<th>units</th>
				</tr>
				<tr ng-repeat="unit in building.data.units | orderObjectBy:'barrack_stage'" ng-if="building.myBuilding.stage >= unit.barrack_stage || true" ng-form="unitForm">
					<td><span class="icon {{unit.key}}-icon"></span>{{ unit.name }}</td>
					<td><span class="icon stone-pile"></span>{{ unit.training_cost.stone }}</td>
					<td><span class="icon wood-pile"></span>{{ unit.training_cost.wood }}</td>
					<td><span class="icon spiral-bloom"></span>{{ unit.training_cost.clay }}</td>
					<td><span class="icon population"></span>{{ unit.training_cost.population }}</td>
					<td><span class="icon stopwatch"></span>{{ unit.training_cost.time - unit.training_cost.time * building.training_speed / 100 | duration }}</td>
					<td><input type="number" placeholder="0" ng-model="unit.start_training"></td>
				</tr>
				<tr>
					<td colspan="6"></td>
					<td><input type="submit" value="Start training"></td>
				</tr>
			</table>
		</form>
	</div>

	<div ng-if="$root.globals.currentVillage.army.units_training && $root.globals.currentVillage.army.units_training.length > 0" class="unit-training-container clearfix">
		<h2>Training</h2>
		<table class="unit-training table">
			<tr>
				<th>Unit type</th>
				<th>Number</th>
				<th>Time Left</th>
			</tr>
			<tr ng-repeat="unit in $root.globals.currentVillage.army.units_training">
				<td><span class="icon {{ unit.unit_type }}-icon"></span></td>
				<td>{{ unit.number }}</td>
				<td>{{ unit.time_left | duration }}</td>
			</tr>
		</table>
	</div>
</div>

