<div class="castle-inner">
	<div class="info">
		Building speed increase: <code>{{ building.building_speed }}</code>
	</div>
	<div ng-if="buildingsToBuild" class="panel panel-default buidlings-to-build">
		<div class="panel-heading">Avaliable buildings</div>
		<div class="panel-body">
			<ul class="buildings clearfix">
				<li class="barracks col-xs-6 col-sm-3" ng-show="canBuild('barracks')">
					<div class="inner">
						<a href="/building/barracks"><span class="icon big barracks-icon"></span></a>
						<div class="info">
							<div class="name">Barracks</div>
						</div>
					</div>
				</li>
				<li class="wall col-xs-6 col-sm-3" ng-show="canBuild('wall')">
					<div class="inner">
						<a href="/building/wall"><span class="icon big wall-icon"></span></a>
						<div class="info">
							<div class="name">Wall</div>
						</div>
					</div>
				</li>
				<li class="market col-xs-6 col-sm-3" ng-show="canBuild('market')">
					<div class="inner">
						<a href="/building/market"><span class="icon big market-icon"></span></a>
						<div class="info">
							<div class="name">Market</div>
						</div>
					</div>
				</li>
				<li class="embassy col-xs-6 col-sm-3" ng-show="canBuild('embassy')">
					<div class="inner">
						<a href="/building/embassy"><span class="icon big embassy-icon"></span></a>
						<div class="info">
							<div class="name">Embassy</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>