<div ng-if="building.myBuilding.stage > 0" class="embasy-inner">
    <div class="panel panel-default">
        <div class="panel-heading">My clan</div>
        <div ng-if="!$root.globals.currentUser.clan" class="panel-body">
            <p>
                <a href="#" ng-click="create_clan()">Create clan</a> your join others
            </p>
        </div>
        <div ng-if="$root.globals.currentUser.clan" class="panel-body">
            <a href="/clan/{{ $root.globals.currentUser.clan.id }}">{{ $root.globals.currentUser.clan.name }}</a> - <a href="#" ng-click="leave_clan()">Leave</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Clan invites</div>
        <ul class="list-group">
            <li ng-if="!clan_invites || clan_invites.length == 0" class="list-group-item">
                You have no clan invites
            </li>
            <li ng-repeat="invite in clan_invites" class="list-group-item">
                <a href="/clan/{{ invite.clan.id }}">{{ invite.clan.name }}</a> - <a href="#" ng-click="accept_invite(invite)">Accept</a>
            </li>
        </ul>
    </div>
</div>