<div ng-show="building.myBuilding.stage > 0" ng-controller="marketController as marCtrl">
	<div class="market-inner">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	Create offer
		  </div>
		  <div class="panel-body">
		    Traders avaliable: <code>{{ totalTraders - usedTraders }} / {{ totalTraders }}</code>
			<div class="create-trade-offer">
				<form ng-submit="create_offer()">
					<div class="clearfix">
						<div class="trade-box">
							<div class="title">Offering</div>
							<select class="form-control" ng-model="data.offered.resource" ng-change="calculate_total_resources()">
								<option value="stone">stone</option>
								<option value="wood">wood</option>
								<option value="clay">clay</option>
							</select>
							<div>
								<input type="text" class="form-control" ng-model="data.offered.value" ng-change="calculate_total_resources()" numeric><a ng-click="add_resources_to_input('offering')">({{ max_value }})</a>
							</div>
						</div>
						<div class="trade-box">
							<div class="trade-box">Requesting</div>
							<select class="form-control" ng-model="data.requested.resource" ng-change="calculate_total_resources()">
								<option value="stone">stone</option>
								<option value="wood">wood</option>
								<option value="clay">clay</option>
							</select>
							<div>
								<input type="text" class="form-control" ng-model="data.requested.value" ng-change="calculate_total_resources()" numeric><a ng-click="add_resources_to_input('requesting')">({{ max_value }})</a>
							</div>
						</div>
					</div>
					<div ng-if="tradersUsedInCalculation > 0">
						{{ tradersUsedInCalculation }} will be used in trade offer
					</div>
					<input type="submit" class="btn btn-default" value="Create offer">
				</form>
			</div>
		  </div>
		  <ul ng-if="myOffers.length > 0" class="list-group">
		    <li class="list-group-item">
		    	<table class="table">
		    		<tr>
		    			<th>Offered</th>
		    			<th>Requested</th>
		    		</tr>
		    		<tr ng-repeat="mo in myOffers">
						<td><span class="icon {{ global_get_icon(mo.offered.resource) }}"></span>{{ mo.offered.value }}</td>
						<td><span class="icon {{ global_get_icon(mo.requested.resource) }}"></span>{{ mo.requested.value }}</td>
		    		</tr>
		    	</table>
		    </li>
		  </ul>
		</div>
		<div ng-if="publicOffers.length > 0" class="panel panel-default">
		  <div class="panel-heading">
		  	Public offers
		  </div>
			<table class="table">
	    		<tr>
	    			<th>Seller</th>
	    			<th>Offered</th>
	    			<th colspan="2">Requested</th>
	    		</tr>
	    		<tr ng-repeat="mo in publicOffers">
	    			<td>{{ mo.owner_village.owner.name }} ({{ mo.owner_village.name }})</td>
					<td><span class="icon {{ global_get_icon(mo.offered.resource) }}"></span>{{ mo.offered.value }}</td>
					<td><span class="icon {{ global_get_icon(mo.requested.resource) }}"></span>{{ mo.requested.value }}</td>
					<td><a href="#" ng-click="accept_offer(mo)">Accept</a></td>
	    		</tr>
	    	</table>
	    </div>
	</div>
</div>
