<resources-block></resources-block>
<section id="building">
	<div class="container">
	    <div class="col-xs-12 col-md-12 building-container">
	    	<div class="basic-info">
	    		<span class="icon big {{ global_get_icon(building.building_type) }}"></span>
	    		<h3 class="building-name">{{ building.data.name }}</h3>
	    		<h4 class="building-stage">{{ building.myBuilding.stage }} / {{ building.data.max_stage }}</h4>
	    		<div class="upgrade-data">
	    			<table class="table resources">
	    				<tr>
	    					<th colspan="6">Upgrade cost</th>
	    				</tr>
						<tr class="stats">
							<td><span class="icon stone-pile"></span>{{ building.resources.stone }}</td>
							<td><span class="icon wood-pile"></span>{{ building.resources.wood }}</td>
							<td><span class="icon spiral-bloom"></span>{{ building.resources.clay }}</td>
							<td><span class="icon population"></span>{{ building.resources.population }}</td>
							<td><span class="icon stopwatch"></span>{{ building.resources.building_time | duration }}</td>
							<td>
								<a ng-if="!building.myBuilding.upgrading" href="#" ng-click="upgrade(building.myBuilding.stage)"><span ng-if="building.myBuilding.stage > 0">Upgrade</span><span ng-if="building.myBuilding.stage == 0">Build</span></a>
								<span ng-if="building.myBuilding.upgrading">Upgrading to stage {{ building.myBuilding.stage + 1 }}</span>
							</td>
						</tr>
					</table>
	    		</div>
	    	</div>
	    	<div ng-include="building_template"></div>
		</div>
	</div>
</section>