<section id="clan">
	<div class="container">
		<div ng-if="clan.id" class="panel panel-default">
			<div class="panel-heading">
				Clan: {{ clan.name }} ({{ clan.total_population }})<button ng-if="clan_leader" class="btn btn-xs pull-right" ng-click="edit_clan()">Edit</button>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					Leader: <a href='/player/{{ clan.leader.id }}'>{{ clan.leader.username }}</a><br>
					<span ng-if="clan.description">
						<label>Description:</label>
						<p>
							{{ clan.description }}
						</p>
					</span>
				</li>
				<li class="list-group-item">
					<table class="table">
						<tr>
							<th colspan="3">Players</th>
							<th ng-if="clan_leader"></th>
						</tr>
						<tr ng-repeat="member in clan.members | orderBy:'-total_population'">
							<td>{{ member.username }}</td>
							<td>{{ member.total_population }}</td>
							<td><a href="/player/{{ member.id }}">View</a></td>
							<td ng-if="clan_leader"><a ng-if="member.id != $root.globals.currentUser.user_id" href="#" ng-click="remove_player(member)">Remove</a></td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
		<div ng-if="invites && invites.length > 0" class="panel panel-default">
			<div class="panel-heading">Pending invites</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="invite in invites">
					<a href="/player/{{ invite.user.id }}">{{ invite.user.username }}</a> - <a href="#" ng-click="remove_invite(invite)">Remove</a>
				</li>
			</ul>
		</div>
	</div>
</section>
