<section id="coordinate-info">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Map coordinate x: {{ info.x }} y: {{ info.y }}</div>
			<div class="panel-body">
				<div ng-if="info.village==null" class="coordinate-img">
					<div ng-if="info.type=='G'" class="icon exstra-big"><ng-include src="global_get_icon_path('grass')"></ng-include></div>
					<div ng-if="info.type=='F'" class="icon exstra-big"><ng-include src="global_get_icon_path('forest')"></ng-include></div>
					<div ng-if="info.type=='M'" class="icon exstra-big"><ng-include src="global_get_icon_path('mountain')"></ng-include></div>
					<div ng-if="info.type=='S'" class="icon exstra-big"><ng-include src="global_get_icon_path('sea')"></ng-include></div>
				</div>
				<div ng-if="info.village" class="coordinate-img">
					<div class="icon exstra-big castle-icon"></div>
				</div>
				<div ng-if="info.village" class="village-info">
					Village name: {{ info.village.name }}<br>
					Village population: {{ info.village.population }}<br>
					<div ng-if="info.village.player">
						Player name: <a href="/player/{{ info.village.player.id }}">{{ info.village.player.username }}</a>
					</div>
				</div>
				<div ng-if="info.village && $root.globals.currentVillage.army.units && $root.globals.currentVillage.army.units.length > 0" class="units">
					<form name="unitsExpeditionForm" ng-submit="sendUnits()">
						<ul class="list-group units-maker">
							<li ng-repeat="unit in $root.globals.currentVillage.army.units" ng-form="unitForm" class="list-group-item">
								<span class="icon {{ unit.unit_type }}-icon"></span>
								<input type="number" value="0" ng-model="unit.send_unit">{{ unit.number }}
							</li>
						</ul>
						<input type="submit" value="Attack">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>