<section>
    <div class="container">
    	<div class="panel panel-default">
    		<div class="panel-heading">Create village</div>
			<div class="panel-body create-village">
				<form name="form" ng-submit="cvCtrl.create()" role ="form" novalidate>
				    <div class="form-group">
				        <label for="village_name">Village name</label>
				        <input type="text" name="village_name" id="village_name" class="form-control" ng-model="cvCtrl.data.village_name" required />
				        <span ng-show="form.village_name.$dirty && form.village_name.$error.required" class="help-block">Village name is required</span>
				    </div>
				    <div class="form-group">
				        <label for="email">Location</label>
				        <div class="radio-box">
					        <input type="radio" ng-model="cvCtrl.data.location" value="ne" required>
					        <input type="radio" ng-model="cvCtrl.data.location" value="nw" required>
					        <input type="radio" ng-model="cvCtrl.data.location" value="se" required>
					        <input type="radio" ng-model="cvCtrl.data.location" value="sw" required>
					    </div>
					    <div class="map-box clearfix">
					    	<div class="nw" ng-class="{ active:cvCtrl.isSelected('nw')}" ng-click="cvCtrl.select('nw')">
					    		<div class="bg"></div>
					    		<div class="info">Vilages: {{ villageCounter.nw}}</div>
					    	</div>
					    	<div class="ne" ng-class="{ active:cvCtrl.isSelected('ne')}" ng-click="cvCtrl.select('ne')">
					    		<div class="bg"></div>
					    		<div class="info">Vilages: {{ villageCounter.ne}}</div>
					    	</div>
					    	<div class="sw" ng-class="{ active:cvCtrl.isSelected('sw')}" ng-click="cvCtrl.select('sw')">
					    		<div class="bg"></div>
					    		<div class="info">Vilages: {{ villageCounter.sw}}</div>
					    	</div>
					    	<div class="ne" ng-class="{ active:cvCtrl.isSelected('se')}" ng-click="cvCtrl.select('se')">
					    		<div class="bg"></div>
					    		<div class="info">Vilages: {{ villageCounter.se}}</div>
					    	</div>
					    </div>
				        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Location is required</span>
				    </div>
				    <div class="form-actions">
				        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Create village</button>
				    </div>
				</form>
			</div>
		</div>
	</div>
</section>