<section if="forum">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Topics<button ng-if="editor" ng-click="add_topic()" class="btn btn-xs pull-right">Add topic</button></div>
            <ul class="list-group">
                <li ng-if="!topics || topics.length == 0" class="list-group-item">There is no topics!</li>
                <li ng-repeat="topic in topics" class="list-group-item">
                    <a href="/forum/topic/{{ topic.id }}">{{ topic.title }}</a><span class="pull-right">{{ topic.total_messages }} ({{ topic.unread }})</span>
                </li>
            </ul>
        </div>
    </div>
</section>