<section class="container">
    <div class="panel panel-default">
    	<div class="panel-heading">Login</div>
		<div class="panel-body">
			<form name="form" ng-submit="authCtrl.login(credentials)" role ="form" novalidate>
			    <div class="form-group">
			        <label for="username">Username</label>
			        <input type="text" name="username" id="username" class="form-control" ng-model="credentials.username" required />
			        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
			    </div>
			    <div class="form-group">
			        <label for="password">Password</label>
			        <i class="fa fa-lock"></i>
			        <input type="password" name="password" id="password" class="form-control" ng-model="credentials.password" required />
			        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
			    </div>
			    <div class="form-actions">
			        <button type="submit" ng-disabled="form.$invalid || authCtrl.dataLoading" class="btn btn-primary">Login</button>
			    </div>
			</form>
		</div>
	</div>
</section>