<section id="map">
	<div class="col-xs-12 col-md-12 map-continer">
		<ul class="map clearfix">
			<li ng-repeat="coordinate in map track by $index" class="coordinate {{ coordinate.type }}" ng-class="{ village:coordinate.village, newline:$index % line_length == 0 }">
				<div>
					<span class="icon contain castle-icon" ng-if="coordinate.village"></span>
					<div class="light {{ coordinate.village.player.relation }}" ng-if="coordinate.village"></div>
					<div class="coordinate-info">
						<div ng-if="coordinate.village" class="village-info">
							<div class="name">Village{{ coordinate.village.name }} ({{ coordinate.village.population }})</div>
							<div class="player">player: <a href="/player/{{ coordinate.village.player.id }}">{{ coordinate.village.player.username }}</a> <a ng-if="coordinate.village.player.clan.id" href="/clan/{{ coordinate.village.player.clan.id}}">({{ coordinate.village.player.clan.name }})</a></div>
						</div>
						<div class="position">x: {{ coordinate.x }} y: {{ coordinate.y }}</div>
						<div><a href="/map/{{coordinate.x}}/{{coordinate.y}}/info">Info</a></div>
					</div>
				</div>
			</li>
		</ul>
		<div class="nav">
			<div class="top"><span class="glyphicon glyphicon-triangle-top" ng-click="move_map('up')"></span></div>
			<div class="right"><span class="glyphicon glyphicon-triangle-right" ng-click="move_map('right')"></span></div>
			<div class="left"><span class="glyphicon glyphicon-triangle-left" ng-click="move_map('left')"></span></div>
			<div class="bottom"><span class="glyphicon glyphicon-triangle-bottom" ng-click="move_map('down')"></span></div>
		</div>
	</div>
</section>