<section class="messages-inner">
	<div class="messages-container container clearfix">
		<tabset>
    		<tab ng-repeat="tab in tabs" heading="{{ tab.title }}" active="tab.active" select="tabChange(tab.url)"></tab>
    	</tabset>
		<ul class="messages list-group">
			<li ng-if="messages.length == 0" class="list-group-item">
				Message box is empty!
			</li>
			<li ng-repeat="message in messages" class="list-group-item">
				<a href="/message/{{ message.id }}">
					<span ng-if="message.sender.id != $root.globals.currentUser.user_id"><span class="icon"><span class="ng-icon" ng-class="{ 'green': !message.seen }" ng-include="global_get_icon_path('message-icon')"></span></span>{{ message.sender.username }} - {{ message.subject }}</span>
					<span ng-if="message.sender.id == $root.globals.currentUser.user_id"><span class="icon message-icon"></span>{{ message.receiver.username }} - {{ message.subject }}</span>
				</a>
			</li>
		</ul>
		<div ng-show="totalItems / maxSize > 1" class="center">
			<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		</div>
	</div>
</section>