<section class="message-inner">
	<div class="message-container container clearfix">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span ng-if="message.sender.id != $root.globals.currentUser.user_id">
					<span class="icon message-icon"></span> Sender: {{ message.sender.username }} <span ng-if="message.added_at">({{ message.added_at * 1000 | date:"dd.MM.yyyy h:mm" }})</span>
				</span>
				<span ng-if="message.sender.id == $root.globals.currentUser.user_id">
					<span class="icon message-icon"></span> Receiver: {{ message.receiver.username }} <span ng-if="message.added_at">({{ message.added_at * 1000 | date:"dd.MM.yyyy h:mm" }})</span>
				</span>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					Subject: <h4 class="subject-title">{{ message.subject }}</h4>
				</li>
				<li class="list-group-item">
					Content:
					<textarea class="form-control" disabled="disabled">{{ message.content }}</textarea>
				</li>
			</ul>
		</div>
	</div>
</section>