<section id="player">
	<div class="container">
		<div ng-if="player.id" class="panel panel-default">
			<div class="panel-heading">
				Player: {{ player.username }} <span ng-if="player.clan">(<a href="/clan/{{ player.clan.id }}">{{ player.clan.name }}</a>)</span>
			</div>
			<ul class="list-group">
				<li class="list-group-item" ng-if="player.id != $root.globals.currentUser.user_id">
					Actions: <button ng-click="write_message()" class="btn">Write message</button>
					<button ng-if="!invition_already_sent" class="btn" ng-click="invite_to_clan()">Invite to clan</button>
				</li>
				<li class="list-group-item">
					<table class="table">
						<tr>
							<th>Village name</th>
							<th>location</th>
							<th>population</th>
							<th>total: {{ player.total_population }}</th>
						</tr>
						<tr ng-repeat="village in player.villages">
							<td>{{ village.name }}</td>
							<td>x: {{ village.x }} y: {{ village.y }}</td>
							<td>{{ village.population }}</td>
							<td><a href="/map/{{ village.x }}/{{ village.y }}/info">View</a></td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</div>
</section>
