<section>
	<div class="container">
	    <div class="panel panel-default">
	    	<div class="panel-heading">Registration</div>
			<div class="panel-body">
				<form name="form" ng-submit="regCtrl.register()" role ="form" novalidate>
				    <div class="form-group">
				        <label for="username">Username</label>
				        <input type="text" name="username" id="username" class="form-control" ng-model="regCtrl.credentials.username" required />
				        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
				        <span ng-show="regCtrl.credentials.username_used" class="help-block">Username already used!</span>
				    </div>
				    <div class="form-group">
				        <label for="email">email</label>
				        <i class="fa fa-lock"></i>
				        <input type="email" name="email" id="email" class="form-control" ng-model="regCtrl.credentials.email" required />
				        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
				        <span ng-show="form.email.$dirty && form.email.$invalid" class="help-block">Enter a valid email</span>
				        <span ng-show="regCtrl.credentials.email_used" class="help-block">Email already used!</span>
				    </div>
				    <div class="form-group">
				        <label for="password">Password</label>
				        <i class="fa fa-lock"></i>
				        <input type="password" name="password" id="password" class="form-control" ng-model="regCtrl.credentials.password" required />
				        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
				    </div>
				    <div class="form-actions">
				        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>
				    </div>
				</form>
			</div>       
	    </div>
	</div>
</section>
