<section id="report">
	<div class="container reports-inner">
		<div ng-if="report.type == 'battle-report'" class="panel panel-default">
			<div class="panel-heading">
				<span class="icon"><span class="ng-icon" ng-class="{ 'green': report.status == 'P', 'yellow': report.status == 'C', 'red': report.status == 'D' }" ng-include="global_get_icon_path(report.role == 'attacker' ? 'axe-icon' : 'shield-icon')"></span></span> Battle report: {{ report.added_at * 1000 | date:"dd.MM.yyyy h:mm" }}
			</div>
			<div class="panel-body report-container clearfix">
				<div class="village-info">
					Attacker: {{ report.attacker.player.username }}({{ report.attacker.village.name }})
					<table class="table">
						<tr>
							<th>Unit:</th>
							<th ng-repeat="(unit_type, number) in report.battle_info.attacker.all"><span class="icon {{unit_type}}-icon"></span></th>
						</tr>
						<tr>
							<td>All:</td>
							<td ng-repeat="(unit_type, number) in report.battle_info.attacker.all">{{ number }}</td>
						</tr>
						<tr>
							<td>Killed:</td>
							<td ng-repeat="(unit_type, number) in report.battle_info.attacker.killed">{{ number }}</td>
						</tr>
					</table>
				</div>

				<div ng-if="!(report.role == 'attacker' && report.status == 'D')" class="village-info">
					Defender: {{ report.defender.player.username }}({{ report.defender.village.name }})
					<table class="table">
						<tr>
							<th>Unit:</th>
							<th ng-repeat="(unit_type, number) in report.battle_info.defender.all"><span class="icon {{unit_type}}-icon"></span></th>
						</tr>
						<tr>
							<td>All:</td>
							<td ng-repeat="(unit_type, number) in report.battle_info.defender.all">{{ number }}</td>
						</tr>
						<tr>
							<td>Killed:</td>
							<td ng-repeat="(unit_type, number) in report.battle_info.defender.killed">{{ number }}</td>
						</tr>
					</table>
				</div>
				<div class="loot">
					loot: <span class="res"><span class="icon stone-pile"></span>{{ report.resources.stone }}</span>
					<span class="res"><span class="icon wood-pile"></span>{{ report.resources.wood }}</span>
					<span class="res"><span class="icon spiral-bloom"></span>{{ report.resources.clay }}</span>
				</div>
			</div>
		</div>

		<div ng-if="report.type == 'market-report'" class="panel panel-default">
			<div class="panel-heading info">
				<span class="icon cash-icon"></span> Market report {{ report.added_at * 1000 | date:"dd.MM.yyyy h:mm" }}
			</div>
			<div class="panel-body report-container clearfix">
				<div>
					<span ng-if="report.owner_village.id == $root.globals.currentVillage.id">
						<span ng-if="report.status == 'D'">Delivered to</span><span ng-if="report.status == 'R'">Returned from</span> {{ report.end_village.owner.name}}({{report.end_village.name}})</span>
					</span>
					<span ng-if="report.owner_village.id != $root.globals.currentVillage.id">
						Delivering from {{ report.owner_village.owner.name}}({{report.owner_village.name}})</span>
					</span>
				</div>
				<div>
					<span class="icon {{ global_get_icon(report.resource) }}"></span> {{ report.value }}
				</div>
			</div>
		</div>
	</div>
</section>
