<section class="reports-inner">
	<div class="reports-container container clearfix">
		<ul class="reports list-group">
			<li ng-if="reports.length == 0" class="list-group-item">
				Reports box is empty!
			</li>
			<li ng-repeat="report in reports" class="list-group-item">
				<span ng-if="report.type == 'battle-report'">
					<a href="/report/{{ report.id }}">
						<span class="icon"><span class="ng-icon" ng-class="{ 'green': report.status == 'P', 'yellow': report.status == 'C', 'red': report.status == 'D' }" ng-include="global_get_icon_path(report.role == 'attacker' ? 'axe-icon' : 'shield-icon')"></span></span>
						{{ report.attacker.player.username }}({{ report.attacker.village.name }}) attacked {{ report.defender.player.username }}({{ report.defender.village.name }})
					</a>
				</span>
				<span ng-if="report.type == 'market-report'">
					<a href="/report/{{ report.id }}">
						<span class="icon cash-icon"></span>
						<span ng-if="report.owner_village.id == $root.globals.currentVillage.id">
							<span ng-if="report.status == 'D'">Delivered to</span>{{ report.end_village.owner.name}}({{report.end_village.name}})
						</span>
						<span ng-if="report.owner_village.id != $root.globals.currentVillage.id">
							<span ng-if="report.status == 'D'">Delivered from</span><span ng-if="report.status == 'R'">Returned from</span> {{ report.owner_village.owner.name}}({{report.owner_village.name}})
						</span>
					</a>
				</span>
			</li>
		</ul>
		<div ng-show="totalItems / maxSize > 1" class="center">
			<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		</div>
	</div>
</section>