<section id="topic">
    <div class="container">
        <div ng-class="{'panel panel-default': topic}">
            <div ng-if="topic" class="panel-heading">{{ topic.title }}</div>
            <ul ng-if="topic" class="list-group">
                <li ng-if="currentPage == 1" class="list-group-item">
                    <form name="form" ng-submit="write_post()">
                        <label>Post</label><input type="submit" class="btn btn-xs pull-right" ng-disabled="form.$invalid" value="Add">
                        <textarea class="form-control" ng-model="data.content" required></textarea>
                    </form>
                </li>
                <li ng-if="!posts || posts.length == 0" class="list-group-item">There is no posts!</li>
                <li ng-repeat="post in posts" class="list-group-item" ng-class="{ 'last-seen': !topic.last_seen || topic.last_seen < post.added_at }">
                    <a href="/player/{{ post.user.id }}">{{ post.user.username }}</a><span class="pull-right">{{ post.added_at * 1000 | date:"dd.MM.yyyy h:mm" }}</span>
                    <p>
                        {{ post.content }}
                    </p>
                </li>
            </ul>
            <div ng-show="totalItems / maxSize > 1" class="center">
                <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</section>