<resources-block></resources-block>
<section id="village" >
	<div class="container">
		<div class="buildings-container col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">Buildings</div>
				<div class="panel-body village">
					<ul class="town clearfix">
						<li class="col-xs-6 col-sm-3 castle" ng-show="hasBuilding('castle')">
							<div class="inner">
								<a href="/building/castle"><span class="icon big castle-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.castle.stage }}</div>
								</div>
							</div>
						</li>
						<li class="col-xs-6 col-sm-3 axe-in-stump" ng-show="hasBuilding('lumber_camp')">
							<div class="inner">
								<a href="/building/lumber_camp"><span class="icon big lumber-camp-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.lumber_camp.stage }}</div>
								</div>
							</div>
						</li>
						<li class="col-xs-6 col-sm-3 mine-wagon" ng-show="hasBuilding('stone_mine')">
							<div class="inner">
								<a href="/building/stone_mine"><span class="icon big stone-mine-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.stone_mine.stage }}</div>
								</div>
							</div>
						</li>
						<li class="col-xs-6 col-sm-3 dig-dug" ng-show="hasBuilding('clay_pit')">
							<div class="inner">
								<a href="/building/clay_pit"><span class="icon big clay-pit-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.clay_pit.stage }}</div>
								</div>
							</div>
						</li>
						<li class="col-xs-6 col-sm-3 wheat" ng-show="hasBuilding('farm')">
							<div class="inner">
								<a href="/building/farm"><span class="icon big farm-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.farm.stage }}</div>
								</div>
							</div>
						</li>
						<li class="col-xs-6 col-sm-3 windmill" ng-show="hasBuilding('storage')">
							<div class="inner">
								<a href="/building/storage"><span class="icon big storage-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.storage.stage }}</div>
								</div>
							</div>
						</li>
						<li class="col-xs-6 col-sm-3 barracks" ng-show="hasBuilding('barracks')">
							<div class="inner">
								<a href="/building/barracks"><span class="icon big barracks-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.barracks.stage }}</div>
								</div>
							</div>
						</li>
						<li class="col-xs-6 col-sm-3 wall" ng-show="hasBuilding('wall')">
							<div class="inner">
								<a href="/building/wall"><span class="icon big wall-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.wall.stage }}</div>
								</div>
							</div>
						</li>
						<li class="col-xs-6 col-sm-3 market" ng-show="hasBuilding('market')">
							<div class="inner">
								<a href="/building/market"><span class="icon big market-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.market.stage }}</div>
								</div>
							</div>
						</li>
						<li class="col-xs-6 col-sm-3 embassy" ng-show="hasBuilding('embassy')">
							<div class="inner">
								<a href="/building/embassy"><span class="icon big embassy-icon"></span></a>
								<div class="info">
									<div class="stage">Stage: {{ buildings.embassy.stage }}</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="army-container col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Army in village</div>
				<ul class="list-group units-box">
					<li ng-if="village.army.units.length == 0" class="list-group-item">There is no army in village</li>
					<li ng-repeat="unit in village.army.units" class="list-group-item">
						<span class="icon {{ unit.unit_type }}-icon"></span>{{ unit.number }}
					</li>
				</ul>
			</div>
		</div>
		<timers-block></timers-block>
	</div>
</section>